*{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    scroll-behavior: smooth;
}

header{
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    height: 12vh;
    
    

}

.container{

    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column;s */


}

.nav_bar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    


}



.logo-png{
    
        width: 65px;
        height: 65px;
        padding-right: 0%;
        filter:drop-shadow(0 0 20px #121212);

}

.name{

    text-decoration: none;
    margin: auto auto;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    float: left;
    font-size: 25px;
    text-shadow: 2px 2px 4px #252525;


}

.logo_name{
    
    text-decoration: none;
    width: 50vw;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    /* padding-left: 30%; */
    
}

nav ul{
    
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;

}

nav ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0px 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: block;

}

nav li a:hover{
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out .2s;
    cursor: pointer;
    font-weight: 100;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing:.2rem;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(80%);
}

.nav li a{
    text-decoration: none;
    color: white;
}

.nav{
  text-decoration: none;
  
}

.content_section{

    height: 100vh;
    background-image: url(assets/images/back_ground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    


}



#home{
    
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        
    
}
.intro_text{
    color: white;
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing:.3rem;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(80%);
}
@keyframes text {

    0%{opacity
        : 0;
        transform: translateY(80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }


     
     
        
}

.intro_slogan{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing:.3rem;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(80%);
}

@keyframes text {

    0%{opacity
        : 0;
        transform: translateY(80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }


}
button{
    margin:  0 auto;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} 

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.intro_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#shop{
    height: 88vh;
    width: 100vw;
    background-color:#fff;
    
    
    
}

.shopping_title{
    padding: top 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color:#4968a7 ;
    font-family: 'Bebas Neue', sans-serif;
    

}

.card {
    width: 200px;
    height: 278px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
  }
  
  .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
  }
  
  .card-info {
    padding-top: 10%;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  /*Text*/
  .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .text-body {
    font-size: .9em;
    padding-bottom: 10px;
  }
  
  /*Button*/
  .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
  }
  
  /*Hover*/
  .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  }
  
  .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
  }
  
  .display_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    
  }
  .info_shopping{
    padding: 50px 100px;
    font-size: larger;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }

  #contact{
    background-color: whitesmoke;
    height: 88vh;
    width: 100%;
  }

  .contact_title{
    text-align: center;
    font-size:xx-large;
  }