@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}
body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    scroll-behavior: smooth;
}


.nav{
    height: 10vh;
    width: auto;
    background-color: #060606;
    display: flex;
    justify-content: space-between;
    padding: 0px 1.2rem;
    font-family: 'Poppins', sans-serif;
}


.nav img{
    height: 70px;
    width: 70px;
}

.nav .right{
    display: flex;
    color: #f4f4f4;
    align-items: center;
    gap: 1rem;
}

.nav .left {
    display: flex;
    align-items: center;
}

.nav .left ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.nav .left ul li{
    list-style: none;
    
}

.nav .left ul li:hover a{
    color: rgb(215, 254, 241);
    padding-bottom: 5px;    
    transition: .6s;
    border-bottom: #f4f4f4 solid 2px;
}

.nav .left ul li a{
    color: #f4f4f4;
    text-decoration: none;
    transition: .6s;
}
.content_section{

    height: 100vh;
    /* background-image: url(assets/images/back_ground.jpg); */
    background-color:#FFFFFF ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#home{
    
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        
    
}
.intro_text{
    color: 726ADE;
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing:.3rem;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(80%);
}
@keyframes text {

    0%{opacity
        : 0;
        transform: translateY(80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }


     
     
        
}

.intro_slogan{
    color: #726ADE;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing:.3rem;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(80%);
}

@keyframes text {

    0%{opacity
        : 0;
        transform: translateY(80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }


}
.intro_btn{
    margin:  0 auto;
}

.intro_btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} 

.intro_btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.intro_btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.intro_btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.intro_btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.intro_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #060606;
}

.home_content2{
  display: flex;
  justify-content: center;
  width: 50%;

}

#shop{
    height: 100vh;
    width: 100vw;
    background-color:#D5D2D4;
    padding-top: 13vh;
    
    
    
    
}

.shop{
  display: flex;
  padding-top: 100px;
}

.shopping_title{
    padding: top 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    font-size: 55px;
    color:#4968a7 ;
    font-family: 'Bebas Neue', sans-serif;
    

}

.card {
    width: 200px;
    height: 278px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
  }
  
  .card-img {
    background-color: #ffcaa6;
    height: 57%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    background-position: center;
    background-attachment: fixed;
    object-fit: contain;
    overflow: hidden;
  }
  
  .card-info {
    padding-top: 10%;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  /*Text*/
  .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .text-body {
    font-size: .9em;
    padding-bottom: 10px;
  }
  
  /*Button*/
  .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
  }
  
  /*Hover*/
  .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  }
  
  .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
  }
  
  .display_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    
  }
  .info_shopping{
    padding: 70px 100px;
    font-size: larger;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 0.2rem;
  }

  #contact{
    background-color: whitesmoke;
    height: 90vh;
    width: 100%;
    padding-top: 8vh;
    font-family: 'Anton', sans-serif;
    
    
  }

  .contact_title{
    text-align: center;
    font-size: 55px;
    color: #726ADE;
  }

  #map-container {
    height: 400px;
    width: 100%;
  }

  /* .address{
    text-decoration: none;
    font-size: 30px;
    float: left;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    
  } */

  .contact_container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-top: 40px;
    height: 80vh;
  }
  .social svg {
    height: 25px;
  }
  
  .social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
    
  }
  
  .social::before, .social::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .social::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
  }
  
  .social::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
  }
  
  .social:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .social:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .social:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .social:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .social span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .social .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .social .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .social .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .info_address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 58px;
    
    

  }
  .social_btn{
    padding-top: 40px;
  }



  .content_nav .nav a {
    color: #f4f4f4;
    text-decoration: none;
  }

  .content_nav .nav a:hover{
    color: #fff;
    transition: .6s;
    padding: 12px 24px;
    border: 2px solid #fff;
    border-radius: 2%;
  }


  .container{
    overflow: hidden ;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  /* .shop_side_r{
    display: flex;
    
  } */

.contact_info{
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  font-size: x-large
}

.contact_hover{
  color: #05CB9D;
}

.contact_hover:hover{
  border-bottom: 3px #000000 solid ;
}


#about{
  background-color: #726ADE;
  height: 100vh;
  width: 100%;
  padding-right: 8rem;
}

.about-info{
  font-family: 'Kalam', cursive;
  font-size: 24px;
  padding-right: 55px;
}

.about_container{
  display: flex;
  justify-content:center;
  align-items: center;
  justify-content: space-around;
  padding-top: 12rem;

}
#about h1{
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  color: #eeeeee;
  text-align: center;
}

.to-top {
  font-size: 18px;
  color: #e1e1e1;
  font-family: 'Kalam', cursive;  
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
  
  
}

.to-top:focus,
.to-top:hover {
  color: #fff;
}

.to-top:focus:after,
.to-top:hover:after {
  width: 100%;
  left: 0%;
}

.to-top:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

button.to-top{
  text-align: center;
  
}